

<h1>Listing TV Shows</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Time</th>
    <th>Channel </th>
  </tr>
 
  <% @shows.each do |show| %>
    <tr>
      <td><%= show.show_title %></td>
      <td><%= show.time %></td>
      <td><%channal = show.channel_id %>
      	<%= Channel.find(channal).name %>
      </td>
      <td><%#= link_to 'favorate', method: :post, favorites_path(show.id) %>
      	<%#= link_to 'favorate', favorites_path(show.id),
              method: "post" %>
        <%= link_to "favorate", favorites_path(show_id: show.id), :method=> :post %>      
      </td>
    </tr>
  <% end %>
</table>
